node-linker=hoisted
shamefully-hoist=true
dedupe-peer-dependents=true
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=@expo/*
public-hoist-pattern[]=@swc/*

package-manager-strict=false
pmOnFail=ignore

